      
<h4>Let's Connect</h4>
<div class="text-center" id="flash-message">
    <%= render 'flash' %>
</div>
<%= simple_form_for @contact, url: projects_path, remote: true, :html => {:class => 'form-horizontal pt-2'} do |f| %>
        <%= f.label :name %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :email %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

      <%= f.label :message %></br>
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                        placeholder: "Send me a message"%></br>

      <div class= "hidden">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <%= f.submit 'Send Message', class: 'btn ha-btn' %>
<% end %>
  