      
<h4>CONTACT</h4>
<div class="text-center col-sm-6 align-self-center m-auto" id="flash-message">
    <%= render 'flash' %>
</div>

<%= simple_form_for @contact, url: projects_path, remote: true, :html => {:mulitpart => true, :class => 'form-horizontal pt-2 col-sm-6 align-self-center m-auto'} do |f| %>
    
    <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.input :name, label: 'Your name', required: true, error: 'Please include your name' %>

        <%= f.input :email, label: 'Your email', required: true, error: 'Please use a valid email address' %>

        <%= f.input :message, label: 'Your project', rows: 8, cols: 40, required: true, 
                          placeholder: "Tell me a little about your project", as: :text %>

        <%#= f.input :project_due, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 2, 
                              order: [:month, :day, :year], html5: true %>
        <%= f.input :project_due, as: :date, :input_html => { :value => DateTime.now.strftime("%d/%m/%Y")},  html5: true%>

        <%= f.input :file_upload, as: :file, input_html: { label: "Upload images, pdfs, or design files" } %>


        <div class= "hidden">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

      <%= f.submit 'Send Message', class: 'btn ha-btn' %>
<% end %>

  