<div class="welcome">

	<div id="home_header">

	</div>

	<div class="work-header">
		<div class="row">
			<div class="col mx-auto">
				<h3 class="text-center">Development for designers</h3>
			</div>
		</div>
	</div>

	<div class="problem lead py-4">

		<div class="row align-items-start d-flex py-5">

			<div class="col-sm-12 col-md-3 align-items-sm-end align-items-lg-start text-right">
				<h2 class="side">Shopify + </h2>
				<h2 class="side">Squarespace + </h2>
				<h2 class="side">Custom Websites + </h2>
			</div>

			<div class="entry col-sm-12 col-md-8 text-left border-left">
				<div class="text-left blurb">
					<h1>Bringing your designs to life</h1>
					<h2>Need help getting your designs online?</h2>

					<p>I work with designers who need a skilled developer to get the job done with efficiency and solid communication. </p>

					<p>Getting your designs on Shopify and Squarespace platforms can be challenging. You might find that:</p>
					<p><ul class="text-left">
						<li>it's time consuming</li>
						<li>it's not the best use of your skills</li>
						<li>it's frustrating to work within in the limits of a template</li>
					</ul></p>
			
				</div>

			</div>
		</div>
	</div>

	<div class="testimonial">
		<div class="row p-5">
			<div class="col mx-auto my-3">
				<h3 class="text-center">Some nice words from Sara some nice words<br /> from Sara. Some nice words from Sara me nice words from Sara.</h3>
				<p></p>
				<h3 class="text-center pb-0">- Sara S., <a href="http://www.goodready.co" target="_blank">Good and Ready Design Co.</a> </h3>	
			</div>	
		</div>
	</div>

	<div class="solution lead">

		<div class="row align-items-start d-flex justify-content-center p-5">

			<div class="entry col-sm-12 col-md-6 text-center border-right flex-column">
				<div class="text-left blurb align-self-center m-auto px-2">

					<h2 class="pb-0">Empowering you to achieve your design goals </h2>

					<p><ul class="text-left">
						<li><b>freedom</b> to design for the look you want</li>
						<li><b>confidence</b> that your site won't look like anyone else's</li>
					</ul></p>
			
				</div>

			</div>

			<div class="col-sm-12 col-md-4 text-left flex-column my-auto">
				<h2 class="side pl-3 align-self-center">Work with me</h2>
			</div>
		</div>
	</div>


	<div class="m-5 ml-5 mr-5 mt-0 pb-2 pl-2 pr-2 pt-0" id="work">
		<div class="row d-flex flex-wrap">
			<div class="col-xs-12 col-md-4 text-center px-3 pb-5">
				<a href="https://www.sweetthornflora.com" target="_blank">
					<%= image_tag 'stf.png', class: 'img-thumbnail img-fluid' %>
				</a>
				<div class="align-self-center text-left info">
					<h1>SWEET THORN FLORA</h1>
					<h2>Squarespace</h2>
					
					<p >Designed by <a href="http://www.goodready.co" target="_blank">Good + Ready Design Co.</a></p>
					<%= link_to "VIEW SITE", "https://www.sweetthornflora.com", class: "btn btn-default btn-gold m-auto", target: '_blank' %>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4 text-center px-3 pb-5">
				<a href="" target="_blank">
					<%= image_tag 'island.png', class: 'img-thumbnail img-fluid' %>
				</a>
				<div class="align-self-center text-left info">
					<h1>ISLAND HOUSE</h1>
					<h2>Shopify</h2>
					
					<p >Designed by <a href="http://www.goodready.co" target="_blank">Good + Ready Design Co.</a></p>
					<%= link_to "VIEW SITE", "", class: "btn btn-default btn-gold m-auto", target: '_blank' %>
				</div>
			</div>
		
			<!-- <div class="col-xs-12 col-md-4  text-center p-3 pb-5">
				<a href="https://www.asalantaearthshop.com" target="_blank">
					<%#= image_tag 'asa.png', class: 'img-thumbnail img-fluid' %>
				</a>
				<div class="align-self-center text-left info">
					<h1>ASALANTA EARTH SHOP</h1>
					<h2>Shopify</h2>
					<p>International wellness brand.</p>
					<%#= link_to "VIEW SITE", "http://www.asalantaearthshop.com", class: "btn btn-default btn-gold text-center m-auto", target: '_blank' %>
				</div>
				
			</div> -->
		
			<div class="col-xs-12 col-md-4  text-center px-3 pb-5">
				<a href="https://heathersmoonblog.herokuapp.com" target="_blank">
					<%= image_tag 'mvg.png', class: 'img-thumbnail img-fluid' %>
				</a>
				<div class="align-self-center text-left info">
					<h1>MOON BLOG</h1>
					<h2>Built with Rails</h2>
					<p>Robust, customizable membership site.</p>
					<%= link_to "VIEW SITE", "https://heathersmoonblog.herokuapp.com", class: "btn btn-default btn-gold text-center m-auto", target: '_blank' %>
				</div>
			</div>

			<div class="col-xs-12 col-md-4  text-center px-3 pb-5">
				<a href="http://arroyodesignhouse.com" target="_blank">
					<%= image_tag 'arroyo.png', class: 'img-thumbnail img-fluid' %>
				</a>
				<div class="align-self-center text-left info">
					<h1>ARROYO DESIGN HOUSE</h1>
					<h2>Built with Javascript</h2>
					<p>Portfolio site.</p>
					<%= link_to "VIEW SITE", "http://arroyodesignhouse.com", class: "btn btn-default btn-gold text-center m-auto", target: '_blank' %>
				</div>
			</div>

			<div class="col-xs-12 col-md-4 text-center mx-auto"></div>


		</div>
	</div>

	<div class="row callout">
		<div class="col text-center button mx-auto p-5">
			<h4>Are you ready to get your beautiful designs online?</h4>

			<%= link_to "LET'S WORK TOGETHER", projects_path(anchor: 'contact'), class: "btn btn-default ha-btn" %>

		</div>	
	</div>
	

	<div id="about" class="row d-flex justify-content-center p-5 lead">

		<div class="col-xs-12 col-md-5 justify-content-xs-center justify-content-sm-end pr-0">
			<div class="thumbnail">
				<%= image_tag 'pic.jpg' %>
			</div>
		</div>

		<div class="col-sm-12 col-md-7 text-left justify-content-xs-center justify-content-sm-start align-self-center pl-0 mb-5">
			<h2 class="pb-0">Hi, I'm HEATHER</h2>
			<p>I'm passionate about all things front end. I pay great attention to the details of your designs and enjoy the process of bring them to life on the web. My ability to listen well helps me preempt problems before they arise.</p>

			<p>At my core, I believe in helping others and my goal is to continually improve in being of service.

		</div>

	</div>

	<div id="contact">
		<div class="row p-3">
			<div class="col text-center" id="contact-form">
				<%= render 'contact_form' %>
			</div>			

		</div>
		<div class="row p-5">
			<p class="text-left d-flex align-self-center">
				<span class="align-self-end">made with </span>
				<a href="http://www.linux.org"><i class="fab fa-linux fa-3x px-2"></i></a>
				
				<i class="fas fa-plus align-self-center"></i>
				<a href="http://www.ubuntu.com"><i class="fab fa-ubuntu fa-3x px-2"></i></a>

				<i class="fas fa-plus align-self-center"></i>
				<a href="http://www.github.com/hallaman"><i class="fab fa-github fa-3x px-2"></i></a>
			</p>
			<p class="text-right col">copyright <%= Time.now.year %>. Heather Allaman, all rights reserved</p>
		
		</div>

	</div>